//body {background-image: url("../images/fond.jpg"); background-repeat: no-repeat;background-size: containt;}
.game { display: flex;flex-direction: column;align-items: center;justify-content: flex-start;flex-wrap: nowrap;max-width:600px;margin-left:auto;margin-right:auto;     
       .title { display: flex;  text-align: center;  font-family: "Lemon", serif;  font-weight: 400;  font-size:larger; margin-top: 5px;width:100%;flex-direction: column;}
       h6 {font-size: .6em;margin-top: 0px;margin-bottom: 3%;
       span {font-family: "Lemon", serif;  font-size: 1.2em; color:rgb(255, 255, 255);}
       }
       span { font-family: "Frijole", system-ui; font-weight: 100; font-size: .9em;color: yellow; text-shadow: 5px 5px 5px #000;}

       .niveaux {display: flex;width: 60%;max-width:200px;justify-content: space-between;align-items: center;color:white; font-weight: 100; 
              span { width:100%;text-align: center;  font-size: small;color:rgb(222, 243, 222);text-shadow: 0px 0px 5px #000,0px 0px 5px #000 ;}
              }       
       .redraw{ display:none}
       .champ{
              display:flex;
              gap: 1px;
              Justify-content: flex-start;
              flex-direction: column;
              align-items: center;  
              font-size:small;
              width: 90%;
              max-width: 600px;
              ul{
                     display: flex;
                     flex-direction: row;
                     justify-content: flex-start;
                     gap: 1px;
              }
              
              li{
                     display:flex;
                     width: calc(9.5vw);
                     height: calc(9.5vw);
                     max-width: 60px;
                     max-height: 60px;
                     justify-content: center;
                     align-items: center;
                     color:#16530a;font-weight: 500; font-family: "Lemon", serif;text-shadow: 0px 0px 5px #FFFFFF
              }
       }
       .info  { z-index: 12;display: flex;background-color: rgb(58, 240, 119);position: absolute;border-radius: 15px;
                border: 5px solid rgba(1, 31, 5, 0.699);color: yellow; text-shadow: 0px 1px 5px #000,0px 1px 5px #000;
                max-width: 400px;width:100%;height: 180px;justify-content: center;align-items: center;box-shadow: 0px 5px 15px black;
                font-family: "Lemon", serif;  font-size:x-large;position:absolute; top:25%;flex-direction: column;
                span { font-size: 12px;color:black;font-family: "Lemon", serif; text-shadow: none;}
              }
       .icons { width:100%; height:100%}
       .coming{ animation: bouh 5s ease-out infinite;}
       .encours { animation: used 5s ease infinite;}
       .tools { width:100%; }
       .tool  { width:80px;height:70px}
       .toolimage {position:relative; top:-10px; left:0px}
       .tooltext  {position:relative; top:-45px; left:10px;text-align: right; font-size: 12px;}
       .herbe {  background-color: rgba(144, 238, 144, 0.90)}
       .terre {  background-color: rgba(173, 101, 6, 0.438)}
       .flag  {  background-color:rgba(144, 238, 144, 0.90)}
       button { --bg: #e74c3c;  --text-color: #fff;  position: relative;  border: none;  background: var(--bg);min-width:40px;
                color: var(--text-color); padding: 1em;  font-weight: bold; font-size:.8em; text-transform: uppercase;   transition: 0.2s;
                border-radius: 5px; opacity: 0.9;padding:none;  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;}
       button:hover {  opacity: 1;}
       button:active {  top: 4px;  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;}
       button:disabled {  visibility:hidden;}
       .btstart { width: 100px;margin-right: 10px;}
       .btniv {min-width:40px;}
       .bttools {--bg :rgba(221, 238, 144, 0.9);max-width:80px; box-shadow: #b5b809 0px 3px 2px,#000 0px 3px 5px;color:rgb(78, 52, 3)}
       @keyframes bouh   { 0% {transform: scale(.6);} 50% {transform: scale(.9);} 100% { transform: scale(.6);}}
       @keyframes used   { 0% {transform: rotate(-3deg); box-shadow: 0 2px 2px rgba(0,0,0,.2);} 20% {transform: rotate(20deg);} 40% {transform: rotate(-15deg);} 60% {transform: rotate(5deg);} 90% {transform: rotate(-1deg);} 100% {transform: rotate(0);box-shadow: 0 2px 2px rgba(0,0,0,.2);}}

}